@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

/* Base styles for the dark academic theme */
html {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #0d0816;
}

body {
  background-color: #0d0816; /* Extremely dark purple */
  color: #e5e7eb; /* Light gray text for high contrast */
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow: visible;
}
